body{
	padding-right: 12px;
	background-image: url("../img/fondo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img{
	max-width: 100%;
}

.saludo{
	text-align: center;
	font-size: 24px;
}

h2.saludo{
	font-size: 20px;
}